[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
TestResults/
*.trx
*.coverage
*.coveragexml
*.binlog
AppPackages/
BundleArtifacts/
*.msix
*.msixupload
*.appx
*.appxbundle
*.appxupload
publish/
*.pubxml
artifacts/
